<article class="hentry post">
  <div class="post__author author vcard inline-items">

    <img
      *ngIf="isReviewerVisible(); else defaultLogo"
      loading="lazy" src="{{user.profilePictureUrl}}" alt="{{user.username}}"
    >
    <ng-template #defaultLogo>
      <img src="/assets/img/logo-colored.png" alt="no photo to display"/>
    </ng-template>

    <div class="author-date">
      <a
        *ngIf="isReviewerVisible()"
        class="h6 post__author-name fn" href="#"
      >{{user.username}}</a>
      <span *ngIf="hasReviewTrackedReviewer()">
        <a
          *ngIf="isCurrentUserLoggedIn(); else showLoginUrl"
          (click)="showReviewer(review.createdBy);"
          class="link"
        >Show protected reviewer</a>
        <ng-template #showLoginUrl>
          <a href="{{loginUrl}}" class="link">Register or login to see the name</a>
        </ng-template>
      </span>
      <div class="post__date">
        <time class="published" datetime="2017-03-24T18:18">{{review.createdAt}}</time>
      </div>
    </div>
  </div>
  <p>{{review.review}}</p>
</article>
