<div class="container" id="company-group-list">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Stack tree</h6>
          <a href="#" class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="#olymp-three-dots-icon"></use>
            </svg>
          </a>
        </div>
        <div class="ui-block-content">
          <div class="row">

            <app-group-display-normal
              [company]="company"
              [recursiveGroupTrees]="companyGroups"
              [reviews]="companyReviews"
              [reviewUsers]="companyUsers"
              [level]="'top'"
              [showReviews]="true"
              style="width: 100%"
            ></app-group-display-normal>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
