<div class="container" id="company-group-list">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Stack tree</h6>
          <a href="#" class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="#olymp-three-dots-icon"></use>
            </svg>
          </a>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <ul class="comments-list" id="company-group-list-top-level">
              <li
                *ngFor="let group of companyGroups"
                class="comment-item has-children"
              >
                <div class="post__author author vcard inline-items">
                  <img loading="lazy" src="img/avatar5-sm.jpg" alt="author">
                  <div class="author-date">
                    <h3 class="h6 post__author-name fn" href="#">{{group.recursiveGroup.name}}</h3>
                  </div>
                </div>
                <a
                  (click)="openWriteStackReviewModal({groupId: group.recursiveGroup.id})"
                  [hidden]="!isLoggedIn()"
                  class="btn btn-primary btn-sm"
                >Add a review</a>

                <article
                  *ngFor="let review of companyReviews[1]"
                  class="hentry post"
                >
                  <div class="post__author author vcard inline-items">
                    <img loading="lazy" src="img/author-page.jpg" alt="author">
                    <div class="author-date">
                      <a class="h6 post__author-name fn" href="02-ProfilePage.html">userId#{{review.createdBy}}</a>
                      <div class="post__date">
                        <time class="published" datetime="2017-03-24T18:18">
                          {{review.createdAt}}
                        </time>
                      </div>
                    </div>
                  </div>
                  <p>{{review.review}}</p>
                </article>

                <ng-container *ngTemplateOutlet="treeView; context:{ $implicit: group.children };"></ng-container>
              </li>
            </ul>

            <ng-template #treeView let-companyGroups>
              <ul class="children" style="padding-right: 0;">
                <li
                  *ngFor="let group of companyGroups"
                  class="comment-item has-children"
                >
                  <div class="post__author author vcard inline-items">
                    <img loading="lazy" src="img/avatar5-sm.jpg" alt="author">
                    <div class="author-date">
                      <a class="h6 post__author-name fn" href="#">{{group.recursiveGroup.name}}</a>
                    </div>
                  </div>
                  <a
                    (click)="openWriteStackReviewModal({groupId: group.recursiveGroup.id})"
                    [hidden]="!isLoggedIn()"
                    class="btn btn-primary btn-sm"
                  >Write review</a>
                  <p>review</p>
                  <ng-container *ngTemplateOutlet="treeView; context:{ $implicit: group.children };"></ng-container>
                </li>
              </ul>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
