<div class="container" id="company-group-list" *ngIf="company !== null">
  <div class="row">
    <div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Stack tree</h6>
          <a href="#" class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="#olymp-three-dots-icon"></use>
            </svg>
          </a>
        </div>
        <div class="ui-block-content">
          <div class="row">

            <app-group-display-normal
              [company]="company"
              [recursiveGroupTrees]="companyGroups"
              [reviews]="companyReviews"
              [reviewUsers]="companyUsers"
              [level]="'top'"
              [showReviews]="false"
              style="width: 100%"
            ></app-group-display-normal>

          </div>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12" id="company-info">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Company Info</h6>
        </div>
        <div class="ui-block-content left-map-wrapper">

          <ul class="left-map">
            <li
              #maps
              *ngFor="let address of companyAddresses"
            >
              <div
                   [ngStyle]="{'background-image': 'url(' + getLeftMapUrl(address.id) + ') '}"
                   class="left-map-content-content"
              ></div>
              <div>
                <span class="title">{{address.fullAddress}}</span>
              </div>
            </li>
          </ul>

        </div>
        <div class="ui-block-title">
          <h6 class="title">Company Statistic</h6>
        </div>

        <div class="ui-block-content">
          <div class="chart-with-statistic">
            <ul class="statistics-list-count">
              <li>
                <div class="points">
									<span>
										<span class="statistics-point bg-purple"></span>
										Stacks
									</span>
                </div>
                <div class="count-stat">{{companyStatistics.stackCount}}</div>
              </li>
              <li>
                <div class="points">
									<span>
										<span class="statistics-point bg-breez"></span>
										Teams
									</span>
                </div>
                <div class="count-stat">{{companyStatistics.teamsCount}}</div>
              </li>
              <li>
                <div class="points">
									<span>
										<span class="statistics-point bg-primary"></span>
										Reviews
									</span>
                </div>
                <div class="count-stat">{{companyStatistics.reviewCount}}</div>
              </li>
              <li>
                <div class="points">
									<span>
										<span class="statistics-point bg-yellow"></span>
										Technologies
									</span>
                </div>
                <div class="count-stat">{{companyStatistics.technologiesCount}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
