$warning-color: #ff5e3a !default;

a.highlighted-link {
  color: $primary-color;
  cursor: pointer;
  display: inline;
  font-weight: bold;
}

a.link {
  color: $grey;
  cursor: pointer;
  display: inline;
  font-weight: bold;
}

.warning {
  color: $secondary-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 15px;
  border: 4px solid $warning-color;
}
