<ul
  [ngClass]="level == 'top'? 'comments-list' : 'children'"
  id="company-group-list-top-level"
>
  <li
    *ngFor="let recursiveGroupTree of recursiveGroupTrees"
    class="comment-item has-children"
  >
    <div class="post__author author vcard inline-items">
      <img loading="lazy" src="img/avatar5-sm.jpg" alt="author">
      <div class="author-date">
        <h3 class="h6 post__author-name fn" href="#">{{recursiveGroupTree.recursiveGroup.name}}</h3>
        <a
          (click)="openWriteStackReviewModal({groupId: recursiveGroupTree.recursiveGroup.id})"
          [hidden]="!isLoggedIn()"
          class="link"
        >Add a review {{recursiveGroupTree.recursiveGroup.id}}</a>
      </div>
    </div>

    <app-display-small
      *ngFor="let review of reviews[recursiveGroupTree.recursiveGroup.id]"
      [review]="review"
      [user]="reviewUsers[review.createdBy]"
    ></app-display-small>

    <app-group-display-normal
      [recursiveGroupTrees]="recursiveGroupTree.children"
      [reviews]="reviews"
      [reviewUsers]="reviewUsers"
      [level]="'child'"
    ></app-group-display-normal>

  </li>
</ul>
