.left-map-wrapper {
  padding: 0;
  text-align: center;
}

ul.left-map {
  margin: 0;
  padding: 0;
}

ul.left-map li {
  margin-bottom: 20px;
  font-weight: bold;
}

ul.left-map li div.left-map-content-content {
  height: 200px;
  background-position: 50% 0;
}
