<div id="map">
  <input id="address-search"/>
</div>

<div
  [formGroup]="form"
>
  <div
    *ngIf="formType == formTypeEnum.EDIT || formType == formTypeEnum.VIEW"
    class="form-group"
  >
    <p *ngIf="formFields.fullAddress.value; else addressDisplayElse">
      <strong>{{formFields.fullAddress.value}}</strong>
    </p>
    <ng-template #addressDisplayElse>
      <p
        [ngClass]="{'warning': !form.valid && submitted}"
        class="emphatic"
      >Please select address on the map!</p>
    </ng-template>
  </div>

  <div
    *ngIf="formType == formTypeEnum.EDIT || formType == formTypeEnum.VIEW"
    class="form-group"
  >
    <input type="hidden" class="form-control" id="fullAddress" placeholder="fullAddress" formControlName="fullAddress">
  </div>

  <div
    *ngIf="formType == formTypeEnum.EDIT || formType == formTypeEnum.VIEW"
    class="form-group"
  >
    <input type="hidden" class="form-control" id="markerLng" placeholder="markerLng" formControlName="markerLng">
  </div>

  <div
    *ngIf="formType == formTypeEnum.EDIT || formType == formTypeEnum.VIEW"
    class="form-group"
  >
    <input type="hidden" class="form-control" id="markerLat" placeholder="markerLat" formControlName="markerLat">
  </div>

  <div
    *ngIf="formType == formTypeEnum.EDIT || formType == formTypeEnum.VIEW"
    class="form-group"
  >
    <input
      type="hidden"
      class="form-control"
      id="manualMarkerLng"
      placeholder="manualMarkerLng"
      formControlName="manualMarkerLng"
    >
  </div>

  <div
    *ngIf="formType == formTypeEnum.EDIT || formType == formTypeEnum.VIEW"
    class="form-group"
  >
    <input
      type="hidden"
      class="form-control"
      id="manualMarkerLat"
      placeholder="manualMarkerLat"
      formControlName="manualMarkerLat"
    >
  </div>
</div>
