<div
  [style.display]="!isModalVisible ? 'none' : 'block'"
  class="modal fade show"
  id="popup-write-rewiev"
  tabindex="-1"
  role="dialog"
  aria-labelledby="popup-write-rewiev"
  aria-hidden="true"
>
  <div class="modal-dialog window-popup popup-write-review" role="document">
    <div class="modal-content">
      <span
        (click)="close()"
        class="close icon-close modal-close" data-dismiss="modal" aria-label="Close"
      >
        <svg class="olymp-close-icon">
          <use xlink:href="#olymp-close-icon"></use>
        </svg>
      </span>

      <div class="modal-header">
        <h6 class="title">Add a technology</h6>
      </div>

      <div class="modal-body">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="form-write-review"
        >
          <div class="row">
            <div class="col col-xl-10 col-lg-10 col-md-10">
              <div
                [ngClass]="{'has-error': hasValidationError('name')}"
                class="form-group"
              >
                <label class="control-label">Name</label>
                <input
                  formControlName="name"
                  class="form-control" placeholder="" type="text"
                >
                <app-autocomplete [partialText]="getName()" (selectLogoEvent)="setName($event)"></app-autocomplete>
              </div>
            </div>
            <div class="col col-xl-2 col-lg-2 col-md-2">
              <label class="control-label" style="margin-bottom: 15px">&nbsp;</label>
              <app-icon-view [partialIconName]="getName()" [squareSize]="40"></app-icon-view>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12">

              <div
                [ngClass]="{'has-error': hasValidationError('groupSizeId')}"
                class="form-group"
              >
                <label class="control-label">Members on technology</label>
                <select
                  formControlName="groupSizeId"
                  class="selectpicker form-control"
                >
                  <option value="0">Please select</option>
                  <option [value]="groupSizes[groupSize]" *ngFor="let groupSize of objectKeys(groupSizes)">
                    {{groupSize}}
                  </option>
                </select>
              </div>

              <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <button type="submit" class="btn btn-primary btn-lg full-width">Post your Review</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  [style.display]="!isModalVisible ? 'none' : 'block'"
  class="modal-backdrop fade show"
></div>
