<div
  *ngIf="null !== notificationInfo"
  class="control-icon more has-items"
>
  <svg class="olymp-thunder-icon">
    <use xlink:href="#olymp-thunder-icon"></use>
  </svg>

  <div
    *ngIf="notificationInfo.hasNew"
    class="label-avatar bg-primary"
  >{{notificationInfo.newCount}}</div>

  <div class="more-dropdown more-with-triangle triangle-top-center">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title">Notifications</h6>
      <a href="#">Mark all as read</a>
    </div>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="notification-list">

        <ng-container
          *ngFor="let notification of notificationInfo.notifications"
        >
          <li
            *ngIf="getDataAsIDataProtectedReview(notification.data)
             && notificationInfo.users[getDataAsIDataProtectedReview(notification.data).viewerUserId]"
          >
            <app-notification-protected-view-small
              style="width: 100%"
              [data]="getDataAsIDataProtectedReview(notification.data)"
              [user]="notificationInfo.users[getDataAsIDataProtectedReview(notification.data).viewerUserId]"
            ></app-notification-protected-view-small>
          </li><!-- /ngFor -->
        </ng-container>

      </ul>
    </div>

    <!--    <a href="#" class="view-all bg-primary">View All Notifications</a>-->
  </div>
</div>
