<div
  *ngIf="null !== notificationInfo"
  class="control-icon more has-items"
>
  <svg class="olymp-thunder-icon"><use xlink:href="#olymp-thunder-icon"></use></svg>

  <div
    *ngIf="notificationInfo.hasNew"
    class="label-avatar bg-primary"
  >{{notificationInfo.newCount}}</div>

  <div class="more-dropdown more-with-triangle triangle-top-center">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title">Notifications</h6>
      <a href="#">Mark all as read</a>
    </div>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="notification-list">

        <li *ngFor="let notification of notificationInfo.notifications">
          <div class="author-thumb"><img loading="lazy" src="img/avatar62-sm.jpg" alt="author"></div>
          <div class="notification-event">
            <div>
              <a href="#" class="h6 notification-friend">Mathilda Brinker</a>
              commented on <a href="#" class="notification-link">your review</a>.
            </div>
            <span class="notification-date">
              <time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time>
            </span>
          </div>
          <span class="notification-icon">
            <svg class="olymp-comments-post-icon"><use xlink:href="#olymp-comments-post-icon"></use></svg>
          </span>

          <div class="more">
            <svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
            <svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete"></use></svg>
          </div>
        </li><!-- /ngFor -->

      </ul>
    </div>

    <a href="#" class="view-all bg-primary">View All Notifications</a>
  </div>
</div>
