<div *ngIf="data">
  <div *ngIf="viewUser" class="author-thumb">
    <img src="{{viewUser.profilePictureUrl}}" alt="{{viewUser.username}}" loading="lazy" width="34" height="34" />
  </div>

  <div class="notification-event">
    <div>
      <a
        *ngIf="viewUser; else unknownUser"
        href="#" class="h6 notification-friend">{{viewUser.username}}</a>
      <ng-template #unknownUser><strong>Deleted user</strong></ng-template>
      viewed your review.
    </div>
    <span class="notification-date">
      <time class="entry-date updated" datetime="{{data.viewerUserId}}"></time>
    </span>
  </div>

  <span class="notification-icon">
    <svg class="olymp-comments-post-icon"><use xlink:href="#olymp-comments-post-icon"></use></svg>
  </span>

  <div class="more">
    <svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
    <svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete"></use></svg>
  </div>
</div>
